.banner {
    background: url("https://images.unsplash.com/photo-1542315192-1f61a1792f33?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #FFF;
    width: 100vw;
    backdrop-filter: blur(8px);
}

.icfhhhhh {
    display: flex;
    height: 300px;
    align-items: center;
    gap: 200px;
}
.yuyu {
    width: 10vw;
}
.about {
    width: 40vw;
}

.list-lomba{
    margin-top: 60px;
    display: flex;
}
.hihihi {
        padding-top:100px;
    }
    .pb-100{
        padding-bottom:100px;
    }
    .section-title {
      margin-bottom: 60px;
    }
    .section-title p {
        color: #777;
        font-size: 16px;
    }
    .section-title h4 {
        text-transform: capitalize;
        font-size: 40px;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .section-title h4:before {
        position: absolute;
        content: "";
        width: 60px;
        height: 2px;
        background-color: #000000;
        bottom: 0;
        left: 50%;
        margin-left: -30px;
    }
    .section-title h4:after {
        position: absolute;
        background-color: #000000;
        content: "";
        width: 10px;
        height: 10px;
        bottom: -4px;
        left: 50%;
        margin-left: -5px;
        border-radius: 50%;
    }
    ul.timeline-list {
        position: relative;
        margin: 0;
        padding: 0
    }
    ul.timeline-list:before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        background-color: #000000;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    ul.timeline-list li {
        position: relative;
        clear: both;
        display: table;
    }
    .timeline_content {
        border: 2px solid #000000;
        background-color:#fff
    }
    ul.timeline-list li .timeline_content {
        width: 45%;
        color: #333;
        padding: 30px;
        float: left;
        text-align: right;
    }
    ul.timeline-list li:nth-child(2n) .timeline_content {
        float: right;
        text-align: left;
    }
    .timeline_content h4 {
        font-size: 22px;
        font-weight: 600;
        margin: 10px 0;
    }
    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        background-color: #000000;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 50%;
    }
    .timeline_content span {
        font-size: 18px;
        font-weight: 500;
        font-family: poppins;
        color: #000000;
    }
    .www{
        margin-top: 25px;
    }